{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_label(form.lieuReception) }}
    {{ form_widget(form.lieuReception) }}
    <input type="submit" value="Search" name="bouton"/>
    {{ form_end(form) }}
        <div class="container">
            <div class="row">
    {% for voiture in voitures %}
                    <div class="card col-lg-3">
                        <img class="card-img-top" src="{{ voiture.images }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ voiture.marque }}</h5>
                            <p class="card-text">{{ voiture.descriptif }}</p>
                            <p class="card-text">{{ voiture.kmtotal }} km</p>

                            <a href="{{ path('location',{"id":voiture.id}) }}" class="btn btn-primary">Réservation</a>
                        </div>
                    </div>
    {% endfor %}
            </div>
        </div>

{% endblock %}
