{% extends 'base.html.twig' %}

{% block title %}
    {{ parent () }} - Info
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row text-center justify-content-center">
            {% for voiture in voitures %}
                <div class="col-lg-12">
                    <h1>{{ voiture.marque }}</h1>
                    <h2>{{ voiture.descriptif }}</h2>
                    <h3>{{ voiture.kmtotal }} km</h3>
                    <img src="{{ voiture.images }}" alt="image voiture" width="30%">
                </div>
                <div class="col-lg-12 text-center">
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid aut commodi
                        consequuntur cumque deleniti dolor eaque eius et explicabo incidunt ipsam ipsum iure, magnam magni
                        nihil officia omnis optio quidem quis sapiente sunt, totam ullam, velit veniam voluptas voluptate voluptatum.
                        Accusantium assumenda consequuntur cumque deleniti dolor est eum excepturi expedita fuga molestiae nemo officia placeat
                        quia quis quod reiciendis repudiandae saepe sed, unde voluptatibus! Aliquam ex neque nisi perferendis saepe sequi, voluptates! Ab aliquam at consectetur consequatur consequuntur debitis dolore et eum ex facere fugit illum ipsum iure labore molestiae, natus nobis obcaecati odit perspiciatis placeat possimus qui quis quod
                        recusandae repudiandae totam ullam vel vitae voluptas voluptate. Hic labore nam officiis quasi quibusdam suscipit vero. Dicta, magnam quia.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut consectetur eligendi eos eum, expedita facere, in ipsum labore magnam nihil obcaecati quam quisquam rem similique tempora totam velit veritatis?
                    </p>
                    <button class="btn btn-primary"><a href="{{ path('location')}}">Réserver la voiture</a></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



