<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="{{ asset('img/eni-logo.png') }}" alt="Eni logo">
            </div>
            <div class="col-lg-4">
                <nav class="nav nav-bar">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('app_login') }}">Connexion </a></li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p>Email: {{ app.user.email }}</p> |
                        <p> Bonjour  {{ app.user.prenom }}</p>
                        <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</header>