<header>

        <div class="row justify-content-center">
                <nav class="nav nav-bar">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('app_login') }}">Connexion </a></li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p>Email: {{ app.user.email }}</p> |
                        {% if app.user.email == 'extern@gmail.com' %}
                            <p>Bonjour Externe</p>
                        {% else %}
                            <p> Bonjour  {{ app.user.prenom }}</p>
                        {% endif %}
                            <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                    {% endif %}
                </nav>
        </div>
</header>